body{
  background-color: rgb(21, 32, 43);
}

.container{
  width:40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#img-twi{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#head{
  color: white;
  font-family: Arial;
  text-align: center;
}

.lab{
  color: white;
  font-family: Arial;
}

.inp{
  width: 100%;
  font-family: Arial;
  background-color: rgb(25, 39, 52);
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: #1C86EE 2px solid;
}

input[type=submit]{
  width: 100%;
  background-color: #1C86EE;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  font-weight: bold;
}
input[type=submit]:hover{
  width: 100%;
  background-color: #3366ff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  font-weight: bold;
}
#last{
  color: gray;
  font-weight: bold;
  width:100%;
  text-align: center;

}

a{
  text-decoration: none;
  color: #1C86EE;
  font-weight: normal;
  font-family: Arial;
}

a:hover{
  text-decoration: underline;
  color: #1C86EE;
  font-weight: normal;
  font-family: Arial;
}
